<app-public-navbar></app-public-navbar>
<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Sharkar</h1>
    <p class="hero-subtitle">Salve e compare os carros dos seus sonhos para tomar a melhor decisão de compra</p>
    <div class="hero-buttons">
      <a (click)="handleStartClick()" class="btn btn-primary btn-lg" style="cursor: pointer;">Começar Agora</a>
      <a href="#features" class="btn btn-outline-light btn-lg ms-3">Saiba Mais</a>
    </div>
  </div>
  <div class="hero-overlay"></div>
</section>

<section id="features" class="features-section">
  <div class="container">
    <h2 class="section-title">Por que escolher o Sharkar?</h2>
    <div class="features-grid">
      <div class="feature-card">
        <i class="bi bi-graph-up-arrow"></i>
        <h3>Comparação Inteligente</h3>
        <p>Compare preços e especificações de diferentes modelos para tomar a melhor decisão futuramente.</p>
      </div>
      <div class="feature-card">
        <i class="bi bi-currency-dollar"></i>
        <h3>Preços Atualizados</h3>
        <p>Veja valores atualizados da tabela FIPE e analise o mercado.</p>
      </div>
      <div class="feature-card">
        <i class="bi bi-clock-history"></i>
        <h3>Histórico</h3>
        <p>Acompanhe a evolução dos preços e mantenha um registro dos carros que você deseja.</p>
      </div>
    </div>
  </div>
</section>

<section id="how-it-works" class="how-it-works-section">
  <div class="container">
    <h2 class="section-title">Como Funciona</h2>
    <div class="steps-container">
      <div class="step">
        <div class="step-number">1</div>
        <h3>Registre o Carro desejado</h3>
        <p>Adicione os carros que você deseja à sua lista de monitoramento.</p>
      </div>
      <div class="step">
        <div class="step-number">2</div>
        <h3>Compare Preços</h3>
        <p>Analise valores de mercado e tendências de preços ao longo do tempo.</p>
      </div>
      <div class="step">
        <div class="step-number">3</div>
        <h3>Acompanhe o Histórico</h3>
        <p>Monitore a evolução dos preços e mantenha um registro dos seus carros desejados.</p>
      </div>
    </div>
  </div>
</section>


<section class="cta-section">
  <div class="container">
    <div class="cta-content">
      <h2>Pronto para começar?</h2>
      <p>Comece a monitorar os carros dos seus sonhos agora mesmo.</p>
      <a (click)="handleStartClick()" class="btn btn-primary btn-lg" style="cursor: pointer;">Começar Agora</a>
    </div>
  </div>
</section>

<section class="faq-section" id="faq">
  <div class="container">
    <div class="text-center mb-5">
      <h2 class="display-4">Perguntas Frequentes</h2>
      <p class="lead">Tire suas dúvidas sobre nossa plataforma</p>
    </div>
    
    <div class="faq-container">
      <div class="faq-item" (click)="toggleFaq(0)" [class.active]="activeFaq === 0">
        <div class="faq-question">
          <h3>Como funciona o sistema de registro de veículos?</h3>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="faq-answer">
          <p>Nosso sistema permite o registro de veículo que possui na tabela FIPE, incluindo informações como marca, modelo, ano, preço e mais. </p>
        </div>
      </div>

      <div class="faq-item" (click)="toggleFaq(1)" [class.active]="activeFaq === 1">
        <div class="faq-question">
          <h3>Quais são os benefícios de usar a plataforma?</h3>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="faq-answer">
          <p>Você pode adicionar os veículos aos quais está interessado, consultar quedas de preço e ainda possui acesso direto a anúncios de venda. Tudo isso mantendo a sua organização e centralização em um só lugar.</p>
        </div>
      </div>

      <div class="faq-item" (click)="toggleFaq(2)" [class.active]="activeFaq === 2">
        <div class="faq-question">
          <h3>Como funciona o sistema de monitoramento e alerta de preço?</h3>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="faq-answer">
          <p>
            Em breve você terá acesso também a possibilidade de receber alertas quando preços de seus veículos registrados tiverem baixa.
          </p>
        </div>
      </div>

      <div class="faq-item" (click)="toggleFaq(3)" [class.active]="activeFaq === 3">
        <div class="faq-question">
          <h3>Posso acessar a plataforma de qualquer dispositivo?</h3>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="faq-answer">
          <p>Sim. Nossa plataforma é totalmente responsiva e pode ser acessada de qualquer dispositivo - computador, tablet ou smartphone. Basta ter uma conexão com a internet e seu login de acesso.</p>
        </div>
      </div>

      <div class="faq-item" (click)="toggleFaq(4)" [class.active]="activeFaq === 4">
        <div class="faq-question">
          <h3>Como são obtidas as informações dos veículos?</h3>
          <i class="fas fa-chevron-down"></i>
        </div>
        <div class="faq-answer">
          <p>O Sharkar utiliza as informações disponibilizadas pela <a href="https://fipe.online/" target="_blank">API Fipe</a> para fornecer os dados dos carros.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-brand">
        <i class="bi bi-car-front-fill"></i>
        <span>Sharkar</span>
      </div>

      <div class="footer-social">
        <a href="#"><i class="bi bi-github"></i></a>
        <a href="#"><i class="bi bi-linkedin"></i></a>
        <a href="#"><i class="bi bi-envelope"></i></a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Paulo Vitor Rosendo. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>