<div class="modal-overlay" *ngIf="car">
  <div class="modal-container">
    <div class="modal-header">
      <div class="header-content">
        <i class="bi bi-car-front-fill header-icon"></i>
        <h2>{{ car.model }}</h2>
      </div>
      <button class="close-button" (click)="closeModal()" title="Fechar">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
    <div class="modal-content">
      <div class="info-group">
        <div class="info-item">
          <i class="bi bi-trademark"></i>
          <div class="info-text">
            <span class="info-label">Marca</span>
            <span class="info-value">{{ car.brand }}</span>
          </div>
        </div>
        <div class="info-item">
          <i class="bi bi-calendar-event"></i>
          <div class="info-text">
            <span class="info-label">Ano</span>
            <span class="info-value">{{ car.year }}</span>
          </div>
        </div>
        <div class="info-item">
          <i class="bi bi-currency-dollar"></i>
          <div class="info-text">
            <span class="info-label">Preço</span>
            <span class="info-value">{{ car.price }}</span>
          </div>
        </div>
        <div class="info-item">
          <i class="bi bi-fuel-pump"></i>
          <div class="info-text">
            <span class="info-label">Combustível</span>
            <span class="info-value">{{ car.fuel }}</span>
          </div>
        </div>
        <div class="info-item">
          <i class="bi bi-clock-history"></i>
          <div class="info-text">
            <span class="info-label">Última atualização</span>
            <span class="info-value">{{ car.referenceMonth }}</span>
          </div>
        </div>
        <div class="info-item">
          <i class="bi bi-link"></i>
          <div class="info-text">
            <span class="info-label">Ver anúncios do Modelo</span>
            <span class="info-value">
              <a href="https://www.olx.com.br/autos-e-pecas/carros-vans-e-utilitarios/{{ car.brand.toLowerCase() }}?q={{ car.model }}&rs={{ car.year.slice(0, 4) }}&re={{ car.year.slice(0, 4) }}" target="_blank">
                Link para anúncios na OLX
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn-delete" (click)="DeleteCar(car.id)">
        <i class="bi bi-trash"></i>
        Deletar
      </button>
    </div>
  </div>
</div>