
<app-navbar></app-navbar>
<div class="view-cars-container">
  <div class="view-cars-header">
    <h1>Carros registrados</h1>
  </div>
  <div class="row" *ngIf="cars.length > 0">
    <app-car-d
      *ngFor="let car of cars"
      [car]="car"
      (viewExpensiveCar)="openExpensiveCarModal($event)"
      class="col-md-3 mb-3"
    ></app-car-d>
  </div>
  <app-car-modal 
    [car]="expensiveCar" 
    (close)="closeModal()" 
    (carDeleted)="refreshCars()"
    (carToUpdate)="openUpdateModal($event)">
  </app-car-modal>

  <app-update-modal 
    *ngIf="carToUpdate"
    [car]="carToUpdate.car"
    (close)="closeUpdateModal()">
  </app-update-modal>
</div>