<div class="signin-container">
  <div class="back-button-container">
    <button class="btn btn-outline-secondary" routerLink="/signin">
      <i class="bi bi-arrow-left"></i> Voltar
    </button>
  </div>
  <div class="custom-card">
    <div class="card-header">
      <h2>{{ 'Alterar a senha' }}</h2>
      <p class="text-muted">
        {{ 'Informe seus dados para alterar a senha' }}
      </p>
    </div>
    <div class="card-body">
      <form [formGroup]="UpdatePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="fullName">Nome Completo</label>
          <input
            type="text"
            id="fullName"
            formControlName="fullName"
            class="form-control"
            placeholder="Digite seu nome completo"
          >
          <div class="error-message" *ngIf="UpdatePasswordForm.get('fullName')?.invalid && UpdatePasswordForm.get('fullName')?.touched">
            Nome completo é obrigatório
          </div>
        </div>

        <div class="form-group">
          <label for="username">Nome de usuário</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control"
            placeholder="Escolha um nome de usuário"
          >
          <div class="error-message" *ngIf="UpdatePasswordForm.get('username')?.invalid && UpdatePasswordForm.get('username')?.touched">
            Nome de usuário é obrigatório
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            placeholder="Digite seu email"
          >
          <div class="error-message" *ngIf="UpdatePasswordForm.get('email')?.invalid && UpdatePasswordForm.get('email')?.touched">
            Por favor, digite um endereço de email válido
          </div>
        </div>


        <div class="form-group">
          <label for="password">Nova Senha</label>
          <div class="password-input">
            <input
              [type]="hidePassword ? 'password' : 'text'"
              id="password"
              formControlName="password"
              class="form-control"
              placeholder="Digite sua senha"
            >
            <button
              type="button"
              class="toggle-password"
              (click)="hidePassword = !hidePassword"
            >
              {{ hidePassword ? 'Show' : 'Hide' }}
            </button>
          </div>
          <div class="error-message" *ngIf="UpdatePasswordForm.get('password')?.invalid && UpdatePasswordForm.get('password')?.touched">
            A senha deve conter pelo menos 6 caracteres
          </div>
        </div>

        <button
          type="submit"
          class="btn-submit"
          [disabled]="UpdatePasswordForm.invalid"
        >
          {{ 'Atualizar senha' }}
        </button>
      </form>
    </div>
  </div>
</div>


<!-- TOASTS -->

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="bi bi-check-circle-fill text-success me-2"></i>
      <strong class="me-auto">Sucesso!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Senha alterada com sucesso!
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="bi bi-x-circle-fill text-danger me-2"></i>
      <strong class="me-auto">Erro!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{ errorMessage }}
    </div>
  </div>
</div>
